// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.navbar-default {
  display: block;
  min-height: 75px;
  border: none;
  .navbar-brand span {
    vertical-align: top;
    margin-top: 12px;
    display: inline-block;
    margin-left: 10px;
    text-transform: uppercase;
    color: $brand-primary;
  }
  ul li a {
    font-size: $titoletto-size;
    text-transform: $titoletto-transform;
    font-weight: $titoletto-weight;
    padding: 27px;
    @media screen and (max-width: $maxbreak-small) {
      padding: 7px 10px;
    }
  }
  ul.dropdown-menu li a {
    font-size: 16px;
    padding: 8px 12px;
  }
  ul.navbar-nav li.active a,
  ul.navbar-nav li.active a:hover {
    background: $body-bg;
    color: $navbar-default-bg;
    @media screen and (max-width: $maxbreak-small) {
      color: $brand-primary;
      font-weight: $titoletto-weight;
      background: $navbar-default-bg;
    }
  }
  .navbar-toggle {
    margin-top: 20px;
  }
  ul.navbar-nav.navbar-right  {
    @media screen and (max-width: $maxbreak-small) {
      .dropdown-toggle {
        display: none;
      }
      .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        display: block;
      }
    }
  }
}
app.108c575ed17e69099e7effd8750eabcf.css
app.108c575ed17e69099e7effd8750eabcf

.panel-heading {
  font-size: $titoletto-size;
  text-transform: $titoletto-transform;
  font-weight: $titoletto-weight;
  width: 100%;
  text-align: center;
}

.tabella-utenti select.form-control {
  width: 55%;
  display: inline-block;
  @media screen and (max-width: $maxbreak-xsmall) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.homeadmin .panel.panel-default {
  text-align: center;
}

.homeadmin .box_link {
  display: inline-block;
  margin-bottom: 5px;
  a {
    width: 140px;
    display: inline-block;
    height: 140px;
    background: $brand-secondary;
    padding: 55px 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: $titoletto-weight;
    @include transition-duration(0.2s);
    &:hover {
      background: $body-bg;
      text-decoration: none;
      color: $brand-secondary;
    }
  }
}

.adminpanel.myprofile {
  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  h1 {
    padding-left: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: $titoletto-weight;
  }
}